.track {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 1px solid #3A3A3A;

  button {
    margin: 10px 0;
  }
}

.button {
  display: inline-block;
  background: transparent;
  border: 1px solid #61B25A;
  line-height: 20px;
  color: #61B25A;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    transition: 1s ease;
    background-color: #61B25A;
    color: #FFFFFF;
  }

  &:focus {
    outline: none;
  }
}